<h1>List#new</h1>
<p>Find me in app/views/list/new.html.erb</p>

<h1>New List</h1>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.submit "Add List", class: "btn btn-primary" %>
<% end %>
