.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1cd05d;
  transition: background 0.3s ease;

}

.btn-flat:hover {
  background: #47ae6b;
  color: white;
  box-shadow: 0 0 20px rgb(28, 208, 93);
}
