.navbar-lewagon {
  justify-content: space-between;
  background: $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-lewagon .navbar-collapse img {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgb(28, 208, 93);

}

.navbar-lewagon .navbar-collapse img:hover {
box-shadow: 0 0 20px rgb(28, 208, 93);
}
